
/*
    BLUE  #6ABBD8
    GREEN  #ABFF9F
    GREY   #546975
*/
.ui-body-c, .ui-overlay-c, .ui-page {
    background: #6ABBD8;
}


#graph {
    width: 100%;
    height: 100%;
}

.fullscreen {
    width: 100%;
    height: 100%;
}